body {
	 margin: 0;
	 font-weight: 400;
	 font-family: "IBM Plex Sans", sans-serif;
	 font-size: 14px;
	 background-color: #fdfcff;
	 min-height: 100%;
	 color: #171926;
}
.sidebar {
  grid-area: sidebar;
}
.col {
  grid-area: col;
}

section {
	 font-family: "IBM Plex Mono", monospace;
	 font-weight: 500;
         font-size: 16px;
	 
}

a {
	 text-decoration: none;
	 color: #de432b; 
}
a:hover {
	 text-decoration: underline;
}
hr {
	 margin: 5px;
	 border-top: 1px solid rgba(0, 0, 0, 0.1);
	 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
code {
	 background-color: #d8e7ff;
	 color: #002b72;
}
 .pull-left {
	 float: left;
}
 .pull-right, .post-card .details {
	 float: right;
}

.wrapper{
	display: grid; 
	flex-wrap: wrap;
	grid-gap: 10px;
        grid-template-columns: 1fr 3fr;
  	grid-template-areas: "sidebar col"; 
}

.container {	
	margin: auto;
	max-width: 80%;
}

.navbar { 
	 padding: 30px 0 20px 0;
}
 .navbar ul {	
	 display: inline-block;
	 margin: 0;
	 padding: 5px 0 5px 0;
	 margin-left: 20px;
}
 .navbar li {
	 font-family: "IBM Plex Mono", monospace;
         font-weight: 500;
         font-size: 16px;	
         list-style-type: none;	
	 margin: 0 5px 0 10px;
}

 .navbar a {
         color: #171926;  
}

 .navbar .site-title {
	 font-family: "IBM Plex Sans Condensed", sans-serif; 
	 font-weight: 600;	
	 font-size: 40px;
	 color: #171926;
	 display: inline-block;
}
 .post-card {
	 margin-top: 1em;
	 margin-bottom: 1em;
}
 .post-card .title {
	 max-width: 500px;
	 color: #272727;
	 display: inline-block;
	 font-size: 30px;
}
 .post-card .details {
	 text-align: right;
	 margin-left: 20px;
	 font-size: 15px;
}
 .post-card .subtitle {
	 max-width: 500px;
}
 .no-post {
	 text-align: center;
	 margin-top: 10px;
	 font-style: italic;
}
 .page-title {
	 font-family: "IBM Plex Sans Condensed", sans-serif;
	 text-align: center;
	 font-size: xx-large;
	 font-weight: bold;
	 line-height: 2;
}
 .page-subtitle {
	 text-align: center;
	 margin-bottom: 1em;
}
 .footer {
	 text-align: center;
	 font-size: small;
	 margin-top: 2em;
	 margin-bottom: 1em;
}
 .footer a {
	 color: black;
}

@media (max-width: 768px) {
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas:
    "column"
    "sidebar";
}

@media (max-width: 625px) {
	 .navbar {
		 text-align: center;
		 padding: 50px 0px 0px 0px;
	}
	 .navbar ul {
		 padding: 10px 0 10px 0;
		 margin: 0;
		 display: block;
		 float: none;
		 text-align: center;
		 width: 100%;
	}
	 .navbar li {
		 margin: 0;
	}
	 .navbar .pull-left {
		 float: none;
	}
	 .navbar .site-title {
		 width: 100%;
		 float: none;
	}
	.col {
     		width: 100%;
   	}
  	.sidebar {
      		width: 100%;
   	}
}
@media (max-width: 480px) {
         .content .profile-picture img {
                 margin-top: -5px;
        }
}
 .content {
	 line-height: 1.5;
}
 .content h1, .content h2, .content h3, .content h4 {
	 margin-block-start: 2em !important;
	 margin-block-end: 0em !important;
}
 .content h1:after, .content h2:after, .content h3:after, .content h4:after {
	 content: '';
	 display: block;
	 width: 50%;
	 border-top: 0.5px solid rgba(0, 0, 0, 0.1);
	 border-bottom: 0.5px solid rgba(50, 50, 50, 0.3);
}
 .content ol {
	 counter-reset: list;
}
 .content ol > li {
	 list-style-position: none;
	 position: relative;
	 list-style: none;
	 margin-top: 5px;
	 margin-bottom: 5px;
}
 .content ul > li {
	 margin: 5px 0 5px 0;
}
 .content ul {
	 margin: 0;
	 padding: 0 20px 0 20px;
}
 .content ol {
	 padding: 0 30px 0 30px;
}
 .content ol > li:before {
	 content: "[" counter(list,decimal) "] ";
	 counter-increment: list;
	 position: absolute;
	 left: -30px;
}
 .content blockquote {
	 border-left: 5px solid #333;
	 margin: 5px 0;
	 padding: 0px 8px;
	 font-style: italic;
}
 .content .profile-picture {
	 width: 15%;
	 margin: 5px 5px 5px 5px;
	 float: right;
}
 p .content .profile-picture {
	 padding: 0;
	 margin: 0;
}

.content img {
	 width: 100%;
         height: auto;
	 text-align: center;
	 border-radius: 50%;
}
 .content .color-red {
	 color: #ff0f00;
}
 .content .color-orange {
	 color: #eb9800;
}
 .content .color-green {
	 color: #00eb1d;
}
 .content .color-blue {
	 color: #0062ff;
}
 .content .highlight-red {
	 background-color: #faa;
}
 .content .highlight-orange {
	 background-color: #ffd486;
}
 .content .highlight-green {
	 background-color: #aaffad;
}
 .content .highlight-blue {
	 background-color: #d8e7ff;
}
 table {
	 margin: 15px 0;
	 border-collapse: collapse;
	 width: 100%;
	 padding: 0;
}
 table tr {
	 border-top: 1px solid #ccc;
	 background-color: white;
	 margin: 0;
	 padding: 0;
}
 table tr:nth-child(2n) {
	 background-color: #f8f8f8;
}
 table tr th {
	 font-weight: bold;
	 border: 1px solid #ccc;
	 text-align: left;
	 margin: 0;
	 padding: 6px 13px;
}
 table tr td {
	 border: 1px solid #ccc;
	 text-align: left;
	 margin: 0;
	 padding: 6px 13px;
}
 table tr th :first-child, table tr td :first-child {
	 margin: 0;
}
 table tr th :last-child, table tr td :last-child {
	 margin: 0;
}
 
